.footer-sec {
  background-image: url("/public/assets/images/footer.png");
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  padding: 200px 0 0;
}
.footer-sec .footer-img img {
  max-height: 50px;
  margin-bottom: 40px;
}
.footer-sec .footer-contact {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}
.footer-sec .footer-contact i {
  font-size: px;
  color: #379f00;
}
.footer-sec .footer-contact h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: #0007b1;
  margin-bottom: 0;
  text-transform: capitalize;
}
.footer-sec .footer-contact p,
.footer-sec .footer-contact a {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: #605858;
  margin-bottom: 0;
}
.footer-sec .footer-contact a {
  text-decoration: none;
}
.footer-sec .footer-links h4 {
  color: #0007b1;
  font-weight: 700;
  line-height: 26px;
  font-size: 22px;
  margin-bottom: 20px;
}
.footer-sec .footer-links ul {
  padding-left: 0;
}
.footer-sec .footer-links ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  color: #000;
}
.footer-sec .footer-links ul li a {
  text-decoration: none;
  color: #000;
}
.footer-sec .footer-links ul li a:active,
.footer-sec .footer-links ul li a:hover {
  text-decoration: none;
  list-style: none;
  font-weight: 300;
  color: #383232;
}
.connect-links ul {
  padding-left: 0;
}
.connect-links ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  color: #000;
}
.copyright-sec {
  padding: 15px 0;
  background-color: #0007b1;
  margin-top: 20px;
}
.copyright-sec p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 0;
}
.connect-links ul {
  padding-left: 0;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: end;
  margin-bottom: 0;
}
.connect-links ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .footer-sec .footer-img img {
    max-height: 37px;
    margin-bottom: 20px;
  }
  .footer-sec .footer-links h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .footer-sec .footer-links ul li {
    font-size: 14px;
    line-height: 28px;
  }
  .footer-sec .footer-contact p,
  .footer-sec .footer-contact a {
    font-size: 12px;
  }
  .footer-sec .footer-contact h3 {
    font-size: 14px;
  }
  .connect-links ul {
    justify-content: center;
    margin-top: 15px;
  }
  .copyright-sec p {
    text-align: center;
  }
  .footer-sec {
    background-image: none;
    padding: 30px 0 0;
  }
}
