.buttonEarlyAccess {
  background-color: #379f00;
  border-color: #379f00;
  color:#fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
}
.buttonEarlyAccess:hover,
.buttonEarlyAccess:active {
  background-color: #379f00;
  border-color: #379f00;
}
.buttonJoinUs {
  background-color: transparent;
  color: #379f00;
  border: 2px solid #379f00;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  padding: 10px 20px;
text-decoration: none;
  border-radius: 6px;

}
.buttonJoinUs:active,
.buttonJoinUs:hover {
  border-color: #379f00;
  background-color: transparent;
  color: #379f00;
}

.buttonContainer button {
  padding: 11px 25px 8px !important;
  font-size: 19px !important;
  line-height: 28.95px;
}
/* #71D840 */
@media (max-width:991px){
  .buttonEarlyAccess{
    font-size: 12px;
    line-height: 16px;
    padding: 5px 15px
  }
}