.tnC-section .header-background {
  padding: 100px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e6e6e6;
}

.tnC-section .header-background p {
  color: rgba(63, 65, 178, 0.85);
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.tnC-section .header-background h3 {
  color: #3f41b2;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

.content-1 {
  
 
 
}
.set-margin{
  margin-top: -80px;
   box-shadow: 0px 8px 20px rgba(63, 65, 178, 0.2);
  background-color: #fff;
   border-radius: 10px;
  padding: 15px;
}
.content-1 h4 {
  color: #3f41b2;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.content-1 h5 {
  color: #000;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
.content-1 p,.content-1 ul li {
  color: rgba(0.0.5);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}


.scroll-content{
  overflow-y:scroll ;
  max-height:400px;
  overflow-x: hidden;

}